@page
@using HousePlants.Domain.Models
@using HousePlants.Domain.Models.Requirements
@model HousePlants.Pages.Plants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatePlantVmModel.CommonName" class="control-label"></label>
                <input asp-for="CreatePlantVmModel.CommonName" class="form-control" />
                <span asp-validation-for="CreatePlantVmModel.CommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatePlantVmModel.Description" class="control-label"></label>
                <textarea asp-for="CreatePlantVmModel.Description" class="form-control"></textarea>
                <span asp-validation-for="CreatePlantVmModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatePlantVmModel.LightRequirement" class="control-label"></label>
                <select asp-for="CreatePlantVmModel.LightRequirement" asp-items="Html.GetEnumSelectList<LightRequirement>()" class="form-control"></select>
                <span asp-validation-for="CreatePlantVmModel.LightRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatePlantVmModel.WateringTechnique" class="control-label"></label>
                <select asp-for="CreatePlantVmModel.WateringTechnique" asp-items="Html.GetEnumSelectList<WateringTechnique>()" class="form-control"></select>
                <span asp-validation-for="CreatePlantVmModel.WateringTechnique" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
